{{define "username"}}
Patrick
{{end}} 

{{define "content"}}
<div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-eye"></i> Views Total</span>
              <div class="count">2500</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> durchschn. Watchtime</span>
              <div class="count">12 min</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> max. Views</span>
              <div class="count">3500</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> min. Views</span>
              <div class="count">5</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> subs Youtube</span>
              <div class="count">875</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> follower Twitch</span>
              <div class="count">230</div>
            </div>
          </div>
          <!-- /top tiles -->
          <br />
        </div>
        <!-- /page content -->
{{end}}